<div class="hm-wrapper">

    <!-- =================================
       HEADER MENU
    ================================== -->
    <div class="hm-header">

        <div class="container">
            <div class="header-menu">

                <div class="hm-logo">
                    <a href="#">
                        <img src="img/logo-home-master-store.png" alt="">
                    </a>
                </div>

                <nav class="hm-menu">
                    <ul>
                        <li><a href="http://">Productos</a></li>
                        <li><a href="http://">Campañas</a></li>
                        <li><a href="http://">Nosotros</a></li>
                        <li><a href="http://">Contacto</a></li>
                    </ul>


                    <div class="hm-icon-cart">
                        <a href="#">
                            <i class="las la-shopping-cart"></i>
                            <span>0</span>
                        </a>
                    </div>

                    <div class="icon-menu">
                        <button type="button"><i class="fas fa-bars"></i></button>
                    </div>

                </nav>

            </div>
        </div>

    </div>